@using HospitalManager.Data;
@using HospitalManager.Models
@using HospitalManager.ViewModels
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject UserManager<AppUser> UserManager
@model EditReceptionViewModel
@{
    ViewData["Title"] = "Изменить запись";
}
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger mt-2">
        <span><b>Ошибка!</b> - @TempData["Error"] </span>
    </div>
}
<form method="post" style="margin-top: 20px" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Procedure">Вид услуги</label>
        <select id="mySelect" asp-for="Procedure" class="form-control">
            <option>Вечерний/выходной макияж</option>
            <option>Восковая депиляция</option>
            <option>Классический массаж</option>
            <option>Коррекция и окрашивание бровей</option>
            <option>Лазерная эпиляция</option>
            <option>Лимфодренажный массаж</option>
            <option>Микроблейдинг бровей</option>
            <option>Окрашивание волос</option>
            <option>Повседневный макияж</option>
            <option>Процедуры регенерации кожи лица</option>
            <option>Релаксационный массаж</option>
            <option>Релаксационный SPA-массаж</option>
            <option>Свадебный макияж</option>
            <option>СПА-процедуры для расслабления и оздоровления</option>
            <option>СПА-уход за телом</option>
            <option>Стрижка и укладка волос</option>
            <option>Ультразвуковая чистка лица</option>
            <option>Уход за волосами и кожей головы</option>
            <option>Хнойное окрашивание бровей</option>
            <option>Чистка лица и уход за кожей</option>
            <option>Шугаринг (сахарная депиляция)</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Дата и время</label>
        <input asp-for="Date" type="datetime-local" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Стоимость услуги</label>
        <input asp-for="Price" type="number" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DoctorId">Врач</label>
        <select asp-for="DoctorId" class="form-control" asp-items="@ViewBag.DoctorList">
            <option value="">Выберите доктора</option>
        </select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>
    <button type="submit" style="font-size: 15px" class="btn btn-outline-success mt-2">Отправить</button>
</form>
